<div ng-show="usuarioLogado.admin">
    <div class="page-title">
        <h2><i class="icon-desktop color"></i> Cadastro de avaliação
            <small>Manutenção de avaliações</small>
        </h2>
        <hr>
    </div>
    <div class="awidget clearfix">
        <div class="awidget-head">
            <h3>Cadastro de avaliação</h3>
        </div>
        <div class="awidget-body">
            <form name="dadosAvalicao" ng-show="!mostrarAlunos">
                <div class="form-group" ng-class="{'has-error': dadosAvalicao.instituicao.$invalid}">
                    <label class="control-label">Instituição</label>
                    <select name="instituicao" class="form-control" ng-model="avaliacao.instituicaoId"
                            ng-options="instituicao.$id as instituicao.nome for instituicao in instituicoes"
                            autofocus required>
                        <option value="">Selecione</option>
                    </select>
                    <span ng-show="dadosAvalicao.instituicao.$error.required" class="help-block">Campo de preenchimento necessário</span>
                </div>
                <div class="form-group" ng-class="{'has-error': dadosAvalicao.disciplina.$invalid}">
                    <label class="control-label">Disciplina</label>
                    <select name="disciplina" class="form-control" ng-model="avaliacao.disciplinaId"
                            ng-options="disciplina.$id as disciplina.nome for disciplina in disciplinas  | filter:{instituicaoId:avaliacao.instituicaoId}"
                            ng-disabled="!avaliacao.instituicaoId" required>
                        <option value="">Selecione</option>
                    </select>
                    <span ng-show="dadosAvalicao.disciplina.$error.required" class="help-block">Campo de preenchimento necessário</span>
                </div>
                <div class="form-group" ng-class="{'has-error': dadosAvalicao.turma.$invalid}">
                    <label class="control-label">Turma</label>
                    <select name="turma" class="form-control" ng-model="avaliacao.turmaId"
                            ng-options="turma.$id as turma.nome for turma in turmas | filter:{disciplinaId:avaliacao.disciplinaId}"
                            ng-disabled="!avaliacao.disciplinaId" required>
                        <option value="">Selecione</option>
                    </select>
                    <span ng-show="dadosAvalicao.turma.$error.required" class="help-block">Campo de preenchimento necessário</span>
                </div>
                <div class="form-group" ng-class="{'has-error': dadosAvalicao.nome.$invalid}">
                    <label class="control-label">Título da avaliação</label>
                    <input type="text" name="nome" class="form-control" placeholder="Título da avaliação"
                           ng-minlength="3" ng-model="avaliacao.nome" required>
                    <span ng-show="dadosAvalicao.nome.$error.required" class="help-block">Campo de preenchimento necessário</span>
                    <span ng-show="dadosAvalicao.nome.$error.minlength"
                          class="help-block">Pelo menos três caracteres</span>
                </div>
                <div class="form-group" ng-class="{'has-error': dadosAvalicao.data.$invalid}">
                    <label class="control-label">Data</label>
                    <input type="text" name="data" class="form-control" placeholder="Data"
                           ng-minlength="3" ng-model="avaliacao.dataHora" required>
                    <span ng-show="dadosAvalicao.data.$error.required" class="help-block">Campo de preenchimento necessário</span>
                    <span ng-show="dadosAvalicao.data.$error.minlength"
                          class="help-block">Pelo menos três caracteres</span>
                </div>
                <div class="form-group" ng-class="{'has-error': dadosAvalicao.informacoes.$invalid}">
                    <label class="control-label">Informações</label>
                    <input type="text" name="informacoes" class="form-control" placeholder="Informações adicionais"
                           ng-minlength="3" ng-model="avaliacao.informacoes" required>
                    <span ng-show="dadosAvalicao.informacoes.$error.required" class="help-block">Campo de preenchimento necessário</span>
                    <span ng-show="dadosAvalicao.informacoes.$error.minlength"
                          class="help-block">Pelo menos três caracteres</span>
                </div>
                <div class="form-group pull-right">
                    <a href="#/avaliacoes" class="btn btn-default">Cancelar</a>
                    <a class="btn btn-danger" ng-click="apagar()" ng-show="avaliacao.$id">Remover</a>
                    <button type="submit" class="btn btn-info" ng-click="salvar()"
                            ng-disabled="dadosAvalicao.$invalid || alterado()">
                        <span ng-show="avaliacao.$id">Alterar</span>
                        <span ng-show="!avaliacao.$id">Cadastrar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>