<div ng-show="usuarioLogado.admin">
    <div class="page-title">
        <h2><i class="icon-desktop color"></i> Usuários
            <small>Cadastro de usuários</small>
        </h2>
        <hr>
    </div>
    <div class="awidget clearfix">
        <div class="awidget-head">
            <h3>Listagem dos usuários cadastrados</h3>
        </div>
        <div class="awidget-body">
            <table class="table table-bordered table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Informações</th>
                    <th style="width: 50px;">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="disciplina in disciplinas | orderBy:['nome'] | iniciaEm:paginaAtual*paginaTamanho | limitTo:paginaTamanho">
                    <td>{{ disciplina.nome }}</td>
                    <td>{{ disciplina.informacoes|truncate:55 }}</td>
                    <td class="text-center">
                        <a href="#/disciplinas/editar/{{ disciplina.$id }}" class="btn btn-xs btn-info"
                           title="Editar informações da disciplina {{ disciplina.nome }}">
                            <i class="icon-pencil"></i></a>
                    </td>
                </tr>
                <tr ng-hide="disciplinas.length">
                    <td colspan="3">Não há Registros</td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <a href="#/disciplinas/criar" class="btn btn-info">Adicionar</a>
                    <ul class="pagination pull-right" ng-show="paginaTotal() > 1">
                        <button class="btn btn-default" ng-disabled="!paginaAtual" ng-click="paginaAtual=paginaAtual-1">
                            Anterior
                        </button>
                        {{paginaAtual+1}} / {{paginaTotal()}}
                        <button class="btn btn-default" ng-disabled="paginaAtual >= usuarios.length/paginaTamanho - 1"
                                ng-click="paginaAtual=paginaAtual+1">Próximo
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>