<div ng-show="usuarioLogado.admin">
    <div class="page-title">
        <h2><i class="icon-desktop color"></i> Frequência
            <small>Atribuição de presença aos usuários por turma</small>
        </h2>
        <hr>
    </div>
    <div class="awidget clearfix">
        <div class="awidget-head">
            <h3>Qualquer alteração feita é gravada instantâneamente</h3>
        </div>
        <div class="awidget-body">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" ng-click="SetPresenca()">
                    <input type="radio" name="options" id="option1"> Presente
                </label>
                <label class="btn btn-default" ng-click="SetPresenca()">
                    <input type="radio" name="options" id="option2"> Ausente
                </label>
            </div>
        </div>
    </div>
</div>
