<div ng-show="usuarioLogado.admin">
    <div class="page-title">
        <h2><i class="icon-desktop color"></i> Instituições
            <small>Cadastro de instituições</small>
        </h2>
        <hr>
    </div>
    <div class="awidget clearfix">
        <div class="awidget-head">
            <h3>Listagem das instituições cadastradas</h3>
        </div>
        <div class="awidget-body">
            <table class="table table-bordered table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th>Instituição</th>
                    <th>Descrição</th>
                    <th style="width: 60px; text-align: center;">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="instituicao in instituicoes | orderBy:['nome'] | iniciaEm:paginaAtual*paginaTamanho | limitTo:paginaTamanho">
                    <td>{{ instituicao.nome }}</td>
                    <td>{{ instituicao.informacoes }}</td>
                    <td class="text-center"><a href="{{ instituicao.site }}" target="_blank"
                                               class="btn btn-xs btn-info"
                                               title="Ir para o site da {{ instituicao.nome }}"
                                               ng-class="{disabled: !instituicao.site, 'btn-primary': instituicao.site}">
                        <i class="icon-windows"></i></a>
                        <a href="#/instituicoes/editar/{{ instituicao.$id }}" class="btn btn-xs btn-info"
                           title="Editar informações da {{ instituicao.nome }}">
                            <i class="icon-pencil"></i></a>
                    </td>
                </tr>
                <tr ng-hide="instituicoes.length">
                    <td colspan="3">Não há Registros</td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <a href="#/instituicoes/criar" class="btn btn-info">Adicionar</a>
                    <ul class="pagination pull-right" ng-show="paginaTotal() > 1">
                        <button class="btn btn-default" ng-disabled="!paginaAtual" ng-click="paginaAtual=paginaAtual-1">
                            Anterior
                        </button>
                        {{paginaAtual+1}} / {{paginaTotal()}}
                        <button class="btn btn-default" ng-disabled="paginaAtual >= usuarios.length/paginaTamanho - 1"
                                ng-click="paginaAtual=paginaAtual+1">Próximo
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>