<div ng-show="usuarioLogado.admin" style="display: none;">
    <div class="page-title">
        <h2><i class="icon-desktop color"></i> Usuários
            <small>Cadastro de usuários</small>
        </h2>
        <hr>
    </div>
    <div class="awidget clearfix">
        <div class="awidget-head">
            <h3>Listagem dos usuários cadastrados <span class="pull-right"><input type="text" ng-model="pesquisa" ng-show="mostrarPesquisa" ng-blur="mostrarPesquisa = !mostrarPesquisa" autofocus/><i class="icon-search" ng-click="mostrarPesquisa = !mostrarPesquisa" ng-show="!mostrarPesquisa"></i></span></h3>
        </div>
        <div class="awidget-body">
            <table class="table table-bordered table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Celular</th>
                    <th style="width: 58px;">Turma</th>
                    <th style="width: 53px;">Editar</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="usuario in usuarios | orderBy:['nome'] | filter:pesquisa | iniciaEm:paginaAtual*paginaTamanho | limitTo:paginaTamanho">
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td style="width: 95px;">
                        {{usuario.celular || '--'}}
                    </td>
                    <td style="text-align: center;">
                        <a href="#/turma/editar/{{usuario.turma.id}}" class="btn btn-info btn-xs">{{usuario.turma || '--'}}</a>
                    </td>
                    <td style="text-align: center;">
                        <a href="#/usuarios/editar/{{usuario.$id}}" class="btn btn-info btn-xs"
                           title="Editar {{usuario.nome}}"><i class="icon-pencil"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <a href="#/usuarios/criar" class="btn btn-info">Adicionar</a>
                    <ul class="pagination pull-right" ng-show="paginaTotal() > 1">
                        <button class="btn btn-default" ng-disabled="!paginaAtual" ng-click="paginaAtual=paginaAtual-1">
                            Anterior
                        </button>
                        {{paginaAtual+1}} / {{paginaTotal()}}
                        <button class="btn btn-default" ng-disabled="paginaAtual >= usuarios.length/paginaTamanho - 1"
                                ng-click="paginaAtual=paginaAtual+1">Próximo
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>