<div class="page-title">
    <h2><i class="icon-desktop color"></i> Cadastro de Usuários
        <small>Pré-cadastro</small>
    </h2>
    <hr>
</div>
<div class="awidget clearfix" ng-show="usuarioLogado">
    <div class="awidget-head">
        <h3>Dados do usuário</h3>
    </div>
    <div class="awidget-body">
        <form name="criarUsuario" role="form">
            <div class="form-group" ng-class="{'has-error': criarUsuario.nome.$invalid}">
                <label class="control-label">Nome</label>
                <input name="nome" type="text" class="form-control" placeholder="Nome do usuário" ng-minlength="3"
                       ng-model="usuario.nome" required>
            <span ng-show="criarUsuario.nome.$error.required"
                  class="help-block">Campo de preenchimento obrigatório.</span>
                <span ng-show="criarUsuario.nome.$error.minlength" class="help-block">Necessário fornecer ao menos três caracteres.</span>
            </div>
            <div class="form-group" ng-class="{'has-error': criarUsuario.email.$invalid}">
                <label class="control-label">E-mail</label>
                <input name="email" type="email" class="form-control" placeholder="E-mail do usuário"
                       ng-model="usuario.email" required>
                <span ng-show="criarUsuario.email.$error.email" class="help-block">O e-mail informado é inválido.</span>
                <span ng-show="criarUsuario.email.$error.required"
                      class="help-block">Campo de preenchimento obrigatório.</span>
            </div>
            <div class="pull-right form-group">
                <a href="#/usuarios" class="btn btn-default">Cancelar</a>
                <a class="btn btn-danger" ng-click="apagar()" ng-show="usuario.$id">Remover</a>
                <button type="submit" class="btn btn-primary" ng-click="salvar()"
                        ng-disabled="criarUsuario.$invalid || alterado()">
                    <span ng-show="usuario.$id">Alterar</span>
                    <span ng-show="!usuario.$id">Cadastrar</span>
                </button>
            </div>
        </form>
    </div>
</div>
